<label @notify>
  <match monit consul>
    @type copy

    <store>
      @type slack
      webhook_url https://hooks.slack.com/services/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
      team kazu634
      channel %23ops
      username kazu-chan
      color danger
      icon_emoji :honeybee:
      flush_interval 60s
    </store>

    <store>
      @type file
      path /tmp/notify-monit-consul.log
    </store>
  </match>

  <match **>
    @type copy

    <store>
      @type slack
      webhook_url https://hooks.slack.com/services/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
      team kazu634
      channel %23ops
      username kazu-chan
      color good
      icon_emoji :honeybee:
      flush_interval 60s
    </store>

    <store>
      @type file
      path /tmp/notify-others.log
    </store>
  </match>
</label>
