<label @notify>
  <match monit consul td_agent>
    @type copy

    <store>
      @type slack
      webhook_url <%= @webhook_url %>
      team kazu634
      channel %23ops
      username kazu-chan
      color danger
      icon_emoji :honeybee:
      flush_interval 60s
    </store>

    <store>
      @type file
      path /tmp/notify-monit-consul.log
    </store>
  </match>

  <match app.**>
    @type copy

    <store>
      @type slack
      webhook_url <%= @webhook_url %>
      channel %23apps
      username kazu-chan
      color good
      icon_emoji :honeybee:
      message_keys log
      flush_interval 60s
    </store>

    <store>
      @type file
      path /tmp/notify-apps.log
    </store>
  </match>

  <match apt-mirror.**>
    @type copy

    <store>
      @type slack
      webhook_url <%= @webhook_url %>
      channel %23ops
      username kazu-chan
      color good
      icon_emoji :honeybee:
      message_keys log
      flush_interval 60s
    </store>

    <store>
      @type file
      path /tmp/notify-apt-mirror.log
    </store>
  </match>

  <match **>
    @type copy

    <store>
      @type slack
      webhook_url <%= @webhook_url %>
      team kazu634
      channel %23ops
      username kazu-chan
      color good
      icon_emoji :honeybee:
      flush_interval 60s
    </store>

    <store>
      @type file
      path /tmp/notify-others.log
    </store>
  </match>
</label>
